/*--------------------------------------------*/
/*  BASIC SETUP*/
/*--------------------------------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

/*--------------------------------------------*/
/*REUSABLE COMPONNENTS*/
/*--------------------------------------------*/
/* main{
    padding: 155px 0;
} */
.section__title{
    font-weight: 700;
    font-size: 45px;
    color: #121212;
    margin-top:130px;
}
.title__desc{
    font-weight: 400;
    font-size: 18px;
    color: #707070;
    line-height: 28px;
    padding: 0px 190px;
    text-align: center;
}
.btn-primary{
    background-color: #FD6E0A;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 20px;
    height: 64px;
    padding: 16px 12px;
    border: 0;
    cursor: pointer;
    border-radius: 5px;

}
/*--------------------------------------------*/
/*BANNER SECTION*/
/*--------------------------------------------*/
.banner{
    text-align: center;
    padding: 0 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.banner > p{
    color: #FFFFFF;
}
.banner__title{
    font-weight: 700;
    font-size: 65px;
    line-height: 79px;
    color: #FFFFFF;
}
header{
    background-image:linear-gradient(360deg, #121212 0%, rgba(18, 18, 18, 0) 100%), url("../images/donation3.jpg");
    background-repeat: no-repeat;
    height: 640px;
    background-position: center;
    background-size:cover;
    display: flex;
}

/*--------------------------------------------*/
/*Donate SECTION*/
/*--------------------------------------------*/
.donate__section{
    padding: 0 140px;
}
.donat__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
}
.donate__money{
    display: flex;
    justify-content: center;
    gap:22px;
}
.money{
    font-weight: 700;
    font-size: 30px;
    padding: 40px 25px;
    background: #FAFAFA;
    border-radius: 5px;
}
.money:nth-child(2){
    background: #FFEEEE;
    border: 2px solid #FF5959;
    border-radius: 5px;
}
.donat__container input[type="number"]{
    border: 0;
    border-bottom: 1px solid #DADADA;
    outline: none;
    width: 600px;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}
input::placeholder {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #B3B3B3;
    text-align: center;
}
input{
    height: 30px;
}

/*--------------------------------------------*/
/*Donate plan SECTION*/
/*--------------------------------------------*/
.section__donate-plan{
    padding: 0 157px;
}
.plan__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
.donate-plans{
    display: flex;
    gap: 24px;
}
.plan{
    padding: 50px 25px;
}
.plan-title{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 24px;
    margin-top: 30px;
}
.plan-desc{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #707070;
    margin-top: 16px;
}
.donate-plans .plan:nth-child(1){
    background: rgba(79, 157, 166, 0.1);
}
.donate-plans .plan:nth-child(2){
    background: rgba(255, 89, 89, 0.1);
}
.donate-plans .plan:nth-child(3){
    background: #FFF4D6;
}
.plan{
    border-radius: 5px;
}

/*--------------------------------------------*/
/*howToContribute SECTION*/
/*--------------------------------------------*/
.howToContribute__section{
    padding: 0 157px;
    display: flex;
    flex-direction: column;
    margin-top: 130px;
    gap: 150px;
}
.livesDepend{
    display: flex;
    align-items: center;
    gap: 80px;
}
.livesDepend > img{
    width: 456px;
    height: 477px;
    border-radius: 5px;
}
.lives__title{
    font-family: 'Inter';
    font-weight: 700;
    font-size: 45px;
    color: #121212;
}
.lives__desc{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 18px;
    color: #707070;
    padding: 30px 0;
}

/*--------------------------------------------*/
/*NewsLatter SECTION*/
/*--------------------------------------------*/

.newsLatter__section{
    padding: 0 157px;
    margin-bottom:130px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.mail{
    display: flex;
    padding: 76px 180px;
    background: #FFF4D6;
    margin-top: 50px;
}
.mail button{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    height: 48px;
    border-radius: 0px 5px 5px 0px;
}
.mail > input{
    height: 48px;
    background: #D9D9D9;
    border-radius: 5px 0px 0px 5px;
    outline: none;
    border: 0;

}
.newsLatter__section > p{
    margin-top: 20px;
}
.mail input::placeholder {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #AA9F9F;
    text-align: left;
    padding-left: 10px;
}